h2{
  color: #908393;
  text-shadow: 0 2px 4px 1px rgba(255, 105, 135, 0.3);
  font-weight: bold;
  font-family: 'Source Serif Pro', serif;
}

.header,.produkterHeader {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 180px;
}
.produkterHeader{
  margin-left: 60px;
}

.addDivBTN{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  margin-bottom: 20px;
  padding: 30px;

}
.addBTN{
  width: 400px;
  height: 70px;
  background-color: #908393;
  color: #FFF5EE;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;

}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  background-color: white;
  width: 400px;
  padding: 50px;
  margin-left:30px;
  text-align: left;
  font-size: 30px;
  box-shadow: 2px 5px 5px 0px rgba(107,107,107,1);
}
