.MainContainer {
  background-color: #FFF5EE;
  margin-top: 10px;
}
.filterContainer{
  display: flex;
  justify-content:space-around;
  align-items:center;
  flex-wrap: nowrap;
  width: 1000px;
  margin: auto;
}
.filterContainer > div {
  text-align:left;
  margin: 20px;
}
.CategoryProductsContainer {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  min-width: 810px;
  width: 1000px;
  margin: auto;
}
.bigCard {
  grid-column:1/3;
  grid-row:2/4;
}
.normalCard {
  width: 300px;
  height: 400px;

}
.loading , .pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#908393;
  font-family: Verdana;
  padding: 20px;
}

html body div#menu-size.MuiPopover-root div.MuiPaper-root {
  margin-top: 3.5em;
}
.MuiTypography-body2 {
  white-space:nowrap;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.MuiButton-label {
  color:#505050;
}
