.navigationContainer {
    background-color: #FFF5EE;
    text-align: center;
    box-shadow: 0px 5px 5px 0px rgba(107,107,107,1);
}
.navigationIcons {
    background-color: #908393;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}
.navigationIcons .fas {
    margin-right: 20px;
}
.logoContainer {
    background-color: #FFF5EE;
    display: flex;
    justify-content: space-between;
}
.bellusLogo {
    margin-left: 13em;
    margin-top: 5px;
    width: 135px;
    height: 135px;
}
.logoContainer form {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    border-radius: 30px;
    max-width: 300px;
    height: 50px;
    margin-right: 10em;
    margin-top: 3em;
}
.logoContainer input {
    font-size: 13px;
    padding: 8px;
    color: #908393;
    background-color: white;;
    width: 100%;
    border: none;
    border-radius: 30px;
    text-indent: 10px;
}
.logoContainer button {
    border: none;
    background: none;
    color: #908393;
    /*cursor: pointer;*/
    font-size: 17px;
    margin: 0;
    padding: 6px 10px;
}
.navigationContainer .MuiButton-label {
    color: #505050;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    font-size: 18px;
    margin-right: 50px;
    margin-top: -55px;
    margin-bottom: -20px;
}
.MuiButton-label:hover {
    color: #908393;
}
.MuiDrawer-paperAnchorLeft.MuiPaper-elevation16 {
    height: 27em;
    margin-top: 13.1em;
}
.list {
    width: 200px;
}
.list ul {
    padding: 0;
}
.list .listCategory {
    justify-content: center;
    display: flex;
    background-color: #908393;
    color: white;
    font-weight: bold;
}
.list li {
    border-bottom: 1px solid #908393;
    cursor: pointer;
}
.list li:not(.listCategory):hover {
    background-color: #eae8eb;
}
.list .fa-sort-down {
    margin-left: 10px;
    margin-top: -5px;
}
.list a {
    color: #505050;
}
.list a:hover{
    color: #505050;
}
